:root {
--color-header-background: #CEE3F8;
--color-header-callout: #EFF7FF;
--color-header-text: #000;
--color-header-border: #808080;
--color-body: #C5CCD3;
--color-body-text: #222;
--color-body-background: #FFF;
--color-usertext: #E5EFFF;
--color-lighter-accent: #2583d4;
--color-darker-accent: #369;
--color-link-item-background: #FFF;
--color-link-item-background-odd: #e6f1fb;
--color-link-title: #65A0C9;
--color-link-title-visited: #551A8B;
--color-link-tagline: #333;
--color-md-text: #222;
}
/*
@media (prefers-color-scheme: dark) {
:root {
*/
[data-theme="dark"] {
--color-header-background: #1B262C;
--color-header-callout: #303A3F;
--color-header-text: #C4CED4;
--color-header-border: #5f99cf;
--color-body: #23292F;
--color-body-text: #3282b8;
--color-body-background: #1B262C;
--color-usertext: #002766;
--color-lighter-accent: #3282b8;
--color-darker-accent: #369;
--color-link-item-background: #2F424C;
--color-link-item-background-odd: #27373F;
--color-link-title: #A0C4DD;
--color-link-title-visited: #65A0C9;
--color-link-tagline: #737373;
--color-md-text: #DDD;
}

body {
    background: var(--color-body);
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--color-body-text);
    -webkit-font-smoothing: antialiased;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: #517191;
}
a:visited {
    color: #4f565b;
}
h1 {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
}
.comment .entry {
    margin-right: 3px;
}
.edit-icon,
.parent-icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.edit-icon {
    background-image: url(../compact/edit.png);
}
.parent-icon {
    background-image: url(../compact/context.png);
}
.comment .arrow,
.link .arrow {
    width: 28px;
    cursor: pointer;
    display: block;
    margin: 1px auto 0;
    outline: 0;
}
.comment .arrow.up,
.link .arrow.up {
    background-image: url(../compact/upvote.png);
}
.comment .arrow.down,
.link .arrow.down {
    background-image: url(../compact/downvote.png);
}
.link {
    min-height: 70px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #ddd;
    padding: 5px 5px;
    padding-bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.6);
    background: var(--color-link-item-background);
    position: relative;
    overflow: hidden;
}
.link:first-child {
    border-top: none;
}
.link:nth-child(odd) {
    background: rgba(206, 227, 248, 0.5);
    background: var(--color-link-item-background-odd);
}
.link > .midcol {
    float: left;
    width: 28px;
    margin: 0 10px 1px 0;
    padding-bottom: 5px;
    position: relative;
}
.link > .entry .score {
    display: none;
}
.link > .entry .score.unvoted {
    display: inline;
    font-weight: 700;
}
.link > .rank {
    color: #aaa;
    float: left;
    font-size: 12px;
    margin-top: 17px;
}
.link .rank {
    display: none;
}

.comment {
    position: relative;
}
.comment > .entry > .tagline .score {
    display: none;
}
.comment > .entry.unvoted > .tagline .score.unvoted {
    display: inline;
}
.link .entry {
    margin: 0 3px 3px 0;
}
.link a {
    text-decoration: none;
    color: #517191;
    color: #369;
}
.link p.title {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 0.8em;
    font-weight: 700;
}
.link p.title > a {
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-link-title);
}
.link .tagline {
    margin: 2px 0 5px;
    padding: 0;
    padding-top: 2px;
    font-size: 10px;
    color: var(--color-link-tagline);
}
.link .tagline > span {
    margin-right: 2px;
}
.link .tagline a {
    font-weight: 700;
}
.link > .expando {
    clear: both;
    margin: 5px 0;
    margin-bottom: 30px;
    border: 1px solid #999;
    background: #ddd;
    padding: 5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    font-size: 11px;
}
a.theme-switch {
    color: var(--color-lighter-accent);
}
.commentarea > .usertext {
    background: var(--color-body-background);
    margin: 0 10px 5px;
    border: 1px solid #d9d9d9;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.usertext-body {
    background: var(--color-body-background);
}
.bottom-area {
    padding: 5px;
}
.comment {
    background: var(--color-body-background);
    border: 1px solid #d9d9d9;
    margin: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.comment > .midcol {
    float: left;
    margin: 7px;
    overflow: hidden;
}
.comment > .entry > .tagline {
    font-size: 11px;
    padding-bottom: 2px;
}
.child .comment {
    margin: 4px;
    margin-top: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
}
.comment > .entry .usertext-body {
    font-size: 11px;
    word-wrap: break-word;
}
.comment > .entry .usertext-edit {
    margin-left: 42px;
}
.child .comment {
    margin-right: -1px;
    margin-bottom: -1px;
}
/*
.child .comment:last-child {
    margin-bottom: 2px;
}
*/
@-webkit-keyframes rotateThis {
    from {
        -webkit-transform: scale(0.75) rotate(0);
    }
    to {
        -webkit-transform: scale(0.75) rotate(360deg);
    }
}
#login_login {
    background: var(--color-body-background);
    border: 1px solid #d9d9d9;
    margin: 10px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
#login_login > div {
    padding: 10px;
}
#login_login > div > ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
}
.clearleft {
    clear: left;
}
.md {
    overflow: auto;
    font-size: small;
}
.md p {
    margin: 5px 0;
}
.md > * {
    margin-bottom: 0;
}
.md ul {
    margin: 10px 2em;
}
.md ul {
    list-style: disc outside;
}
.message > .entry .usertext-body,
.message > .entry .md {
    font-size: 11px;
    word-wrap: break-word;
}
.md {
    overflow: auto;
    font-size: small;
}
.md p,
.md h1 {
    margin: 5px 0;
}
.md h1 {
    font-weight: bold;
    font-size: 100%;
}
.md h2 {
    font-weight: bold;
    font-size: 100%;
}
.md h2,.md h4 {
    font-weight:500
}
.md h1,.md h2 {
    font-size:1.2857142857142858em;
    line-height:1.3888888888888888em;
    margin-top:0.8333333333333334em;
    margin-bottom:0.8333333333333334em
}
.md > * {
    margin-bottom: 0px;
}
.md strong {
    font-weight: bold;
}
.md em {
    font-style: italic;
}
.md strong em {
    font-style: italic;
    font-weight: bold;
}
.md img {
    display: none;
}
.md ol,
.md ul {
    margin: 10px 2em;
}
.md ul {
    list-style: disc outside;
}
.md ol {
    list-style: decimal outside;
}
.md pre {
    margin: 10px;
}
.md blockquote,
.help blockquote {
    border-left: 2px solid #369;
    padding-left: 4px;
    margin: 5px;
    margin-right: 15px;
}
.md td,
.md th {
    border: 1px solid #eee;
    padding: 1px 3px;
}
.md th {
    font-weight: bold;
}
.md table {
    margin: 5px 10px;
}
.md center {
    text-align: left;
}
div.md {
    padding: 5px 10px;
}
a.author {
    margin-right: 0.5em;
}
.comment > .entry .usertext-body {
    font-size: 13px;
}
div.md {
    padding: 5px 10px;
}
#header-redditreader {
    color: #2583d4;
    padding: 10px;
}
#header-redditreader .default-header {
    color: var(--color-lighter-accent);
    padding-left: 10px;
    font-size: x-large;
}
#header-bottom-left {
    margin-top: 10px;
    margin-bottom: 10px;
}
#sr-header-area {
    white-space: normal !important;
    height: auto !important;
}
#sr-header-area .width-clip {
    position: relative !important;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
.md-container {
    font-size: small;
}
.md {
    color: var(--color-md-text);
    max-width: 60em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.md a {
    color: var(--color-link-title);
    text-decoration: none;
}
.md {
    font-weight: 400;
}
.md * {
    margin-left: 0;
    margin-right: 0;
}
.md p,
.md ul {
    margin: 0;
    padding: 0;
}
.md ul {
    list-style-type: disc;
}
.md ul {
    padding-left: 40px;
}
.md li li,
.md li p {
    font-size: 1em !important;
}
.link .usertext .md {
    padding: 5px 10px;
}
.commentarea .md,
.linklisting .md {
    margin-top: 5px;
    margin-bottom: 5px;
}
.md {
    font-size: 1.0769230769230769em;
}
.md p,
.md ul {
    margin-top: 0.35714285714285715em;
    margin-bottom: 0.35714285714285715em;
}
.md .-text,
.md li,
.md p {
    font-size: 1em;
    line-height: 1.4285714285714286em;
}
.md p > :first-child,
.md ul > :first-child,
.md > :first-child {
    margin-top: 0;
}
.md p > :last-child,
.md ul > :last-child,
.md > :last-child {
    margin-bottom: 0;
}
html {
    height: 100%;
}
body,
div,
li,
p,
ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
q:after,
q:before {
    content: "";
}
body {
    font: normal x-small verdana, arial, helvetica, sans-serif;
    background-color: var(--color-body-background);
    z-index: 1;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: #369;
}
[hidden] {
    display: none;
}
.hover a:hover {
    text-decoration: underline;
}
.flat-list {
    list-style-type: none;
    display: inline;
}
.flat-list li {
    display: inline;
    white-space: nowrap;
}
.link .flat-list {
    display: block;
    padding: 1px 0;
}
.separator {
    color: #808080;
    margin: 0 0.7ex 0 0.7ex;
    cursor: default;
}
#header {
    border-bottom: 1px solid #5f99cf;
    position: relative;
    background-color: var(--color-header-background);
    z-index: 99;
}
#header-bottom-left {
    font-size: larger;
}
#header-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--color-header-callout);
    padding: 4px;
    line-height: 12px;
    border-top-left-radius: 7px;
    z-index: -10;
}
.user {
    color: #808080;
}
.pagename {
    font-weight: 700;
    margin-right: 1ex;
    font-variant: small-caps;
    font-size: 1.2em;
    vertical-align: bottom;
}
.pagename a {
    color: #888;
}
.tabmenu {
    list-style-type: none;
    white-space: nowrap;
    display: inline-block;
    margin-top: 5px;
    vertical-align: bottom;
}
.tabmenu li {
    display: inline;
    font-weight: 700;
    margin: 0 3px;
}
.tabmenu li a {
    padding: 2px 6px 0 6px;
    background-color: var(--color-header-callout);
}
.content {
    z-index: 1;
    margin: 7px 5px 0 5px;
}
.question {
    color: #FF0000;
}
.question .no {
    margin: 0 3px 0 3px;
}
.arrow {
    margin: 2px 0 0 0;
    width: 100%;
    height: 14px;
    display: block;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
}
.arrow.up {
    background-image: url(sprite-reddit.6Om8v6KMv28.png);
    background-position: -84px -1618px;
    background-repeat: no-repeat;
}
.arrow.down {
    background-image: url(sprite-reddit.6Om8v6KMv28.png);
    background-position: -42px -1618px;
    background-repeat: no-repeat;
}
.midcol {
    float: left;
    margin-right: 7px;
    margin-left: 7px;
    background: 0 0;
    overflow: hidden;
}
.entry {
/*    overflow: hidden; */
    margin-left: 3px;
    opacity: 1;
}
.entry .buttons li a {
    color: #888;
    font-weight: bold;
    padding: 0 1px;
}
.tagline {
    color: #888;
    font-size: x-small;
}
.tagline a {
    color: #369;
    text-decoration: none;
}
.tagline a:hover {
    text-decoration: underline;
}
.tagline .submitter {
    color: #D36135;
}
a.author {
    margin-right: 0.5em;
}
.thing .parent .author {
    margin-right: 0.5em;
}
.thing .title {
    outline: 0;
    margin-right: 0.4em;
    padding: 0;
    overflow: hidden;
}
.thing .title {
    color: var(--color-link-title);
}
.thing .title:visited {
    color: var(--color-link-title-visited);
}
.sitetable {
    list-style-type: none;
}
.help a.help {
    color: #808080;
    text-decoration: underline;
}
.help p {
    margin: 5px;
    font-size: 110%;
}
.commentarea > .usertext {
    margin: 0 0 10px 10px;
    overflow: auto;
}
.domain {
    color: #888;
    font-size: x-small;
    white-space: nowrap;
}
.link {
    margin: 0;
    margin-bottom: 8px;
    padding-left: 3px;
}
.link .domain {
    color: #737373;
    font-size: 9px;
    margin-left: 5px;
}
.link .score {
    text-align: center;
    color: #c6c6c6;
}
.link .title {
    font-size: medium;
    font-weight: 400;
    margin-bottom: 1px;
}
.link .midcol {
    font-weight: 700;
    font-size: small;
}
.comment {
    margin-left: 10px;
}
.comment.noncollapsed .child,
.comment.noncollapsed .usertext {
    display: block;
}
.comment.noncollapsed .midcol {
    visibility: visible;
}
.comment.collapsed .child,
.comment.collapsed .usertext,
.comment.collapsed .midcol,
.comment.collapsed .button,
.comment.collapsed .options_link,
.comment.collapsed .options_expando {
    display: none;
}
.comment.collapsed {
    font-style: italcs;
}
.comment.collapsed .tagline {
    margin-left: 0px; font-style: italcs; color: #AAA;
}

.comment .midcol {
    margin-left: 0;
    width: 15px;
}
.comment .title {
    font-size: small;
    margin-top: 10px;
}
.comment .author {
    font-weight: 700;
}
.comment .expand {
    margin-right: 3px;
    padding: 1px;
}
.comment .child {
    margin-top: 10px;
    margin-left: 2px;
/*    margin-left: 15px; */
/*    border-left: 1px dotted #ddf; */
}
.clearleft {
    clear: left;
    height: 0;
}
.working [type="submit"] {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}
.content > #login > p {
    margin-left: 60px;
    margin-right: 60px;
}
#sr-header-area {
    background-color: var(--color-header-callout);
    white-space: nowrap;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-header-border);
    font-size: 90%;
    height: 18px;
    line-height: 18px;
}
#sr-header-area .width-clip {
    position: absolute;
    left: 0;
    right: 0;
}
#sr-header-area .sr-list {
    overflow: hidden;
}
.sr-bar .separator {
    color: #808080;
}
.sr-bar a {
    color: #000;
    color: var(--color-header-text);
}
#sr {
    margin-left: 0;
}
#sr-list {
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
}
.sr-name {
    font-size: small;
    vertical-align: top;
    padding: 3px 3px 3px 0;
}
.sr-description {
    padding: 3px;
}
.sr-arrow {
    width: 10px;
    height: 12px;
}
.expando {
    clear: left;
    margin: 5px 0 5px 0;
    position: relative;
}
.expando-content {
    display: none;
}
.link .usertext-body .md {
    background-color: var(--color-body-background);
    border: 1px solid #369;
    border-radius: 7px;
}
.usertext {
    font-size: small;
}
.usertext-edit {
    margin-top: 5px;
    padding: 0 1px;
    width: 500px;
}
.usertext .bottom-area {
    overflow: hidden;
    width: 100%;
}
.new-comment .usertext-body {
    background-color: var(--color-usertext);
    border: solid 1px #cddaf3;
    margin: -1px 0;
    padding: 0 4px;
}
.role {
    width: 800px;
}
.sr-description p {
    margin: 0.75em 0;
}
.app-icon {
    display: inline-block;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    white-space: nowrap;
}
.app-description {
    display: inline-block;
    font-size: small;
    width: 597px;
    height: 80px;
    overflow-y: auto;
    vertical-align: top;
}
.edit-app-icon {
    display: none;
}
.sr-type-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

