<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="FuriousGeorge">
    <!--<link rel="shortcut icon" href="">-->

    <title>{% block title %} :: {% endblock %}</title>

    <!-- Custom styles for this site -->
    {% block styles %}
    <link href="{% static '/css/reddit.css' %}" rel="stylesheet">
    <link href="{% static '/css/reddit.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    {% endblock styles %}
  </head>
  <body>
    <div id="header" role="banner">
        <div id="sr-header-area">
            <div class="width-clip">
                <div class="sr-list">
                    <span class="separator"> | </span>
                    <ul class="flat-list sr-bar hover">
                        <!-- hardcoded some initial choices - need to be dynamic later -->
                        <li><a class="choice" href="/r/selfhosted">selfhosted</a></li>
                        <li><span class="separator">-</span><a class="choice" href="/r/homelab">homelab</a></li>
                        {% block subredditlist %}
                        {% endblock subredditlist %}
                    </ul>
                </div><!-- .sr-list -->
            </div><!-- .width-clip -->
        </div><!-- #sr-header-area -->
        <div id="header-bottom-left">
            <span id="header-redditreader" class="default-header"><i class="fa fa-reddit fa-3x" aria-hidden="true"></i><a class="default-header" href="#">Reddit Reader</a></span>
            <span class="hover pagename redditname">
                {% if subreddit %}
                    <a href="/r/{{ subreddit }}">{{ subreddit }}</a>
                {% endif %}
            </span>
            <ul class="tabmenu "></ul>
        </div><!-- #header-bottom-left -->
        <div id="header-bottom-right">
        </div><!-- #header-bottom-right -->
    </div><!-- #header -->
    {% block content %}
    {% endblock content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static '/js/reddit.js' %}"></script>
  </body>
</html>
