<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="FuriousGeorge">
    <!--<link rel="shortcut icon" href="">-->

    <title>{% block title %} :: {% endblock %}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="128x128" href="{% static 'reddit-128.png' %}">
    <link rel="apple-touch-icon" sizes="256x256" href="{% static 'reddit-256.png' %}">

    <!-- Custom styles for this site -->
    {% block styles %}

    <link href="{% static '/css/site.css' %}?v={{ app_version }}" rel="stylesheet">
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    {% endblock styles %}
  </head>
  <body class="dark-theme || light-theme">
    <div id="header" role="banner">
        <div id="sr-header-area">
            <div class="width-clip">
                <div class="sr-list">
                    <span class="separator">&nbsp;</span>
                    <ul class="flat-list sr-bar hover">
                        <!-- hardcoded some initial choices - need to be dynamic later -->
                        <li><a class="choice" href="/">home</a></li>
                        {% if allowed_subreddits %}
                            {% for sr in allowed_subreddits %}
                                <li><span class="separator">-</span><a class="choice" href="/r/{{ sr }}">{{ sr }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div><!-- .sr-list -->
            </div><!-- .width-clip -->
        </div><!-- #sr-header-area -->
        <div id="header-bottom-left">
            <span id="header-redditreader" class="default-header"><i class="fa fa-reddit fa-3x" aria-hidden="true"></i><a class="default-header" href="/">Reddit Reader</a></span>
            <span class="hover pagename redditname">
                {% if subreddit %}
                    <a href="/r/{{ subreddit }}">{{ subreddit }}</a>
                {% endif %}
            </span>
            <div class="tabmenu">
                <a aria-label="Toggle dark mode" id="theme-switch" class="navbar-item is-inline-block-mobile theme-switch">
                    <i class="fa fa-adjust fa-2x" aria-hidden="true"></i>
<!-- future release of FA
                    <i class="fas fa-fw fa-adjust fa-2x" aria-hidden="true"></i>
-->
                </a>
            </div>
        </div><!-- #header-bottom-left -->
        <div id="header-bottom-right">
            <span class="app-version">{{ app_version }}</span>
        </div><!-- #header-bottom-right -->
    </div><!-- #header -->
    {% block content %}
    {% endblock content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static '/js/site.js' %}?v={{ app_version }}"></script>
  </body>
</html>
