{% extends "reddit/base.html" %}


{% block title %}{{ submission.title }} : {{ subreddit }}{% endblock %}
{% block content %}
<div class="content">
{% if submission %}
    <div class="sitetable linklisting">
        <div class=" thing id-{{ submission.id }} link self">
            <p class="parent"></p>
            <div class="midcol unvoted">
                <div class="arrow up login-required access-required"></div>
                <div class="score unvoted">{{ submission.score }}</div>
                <div class="arrow down login-required access-required"></div>
            </div>
            <div class="entry unvoted">
                <p class="title"><a class="title may-blank" href="{{ submission.url }}">{{ submission.title }}</a><a href="{{ submission.permalink }}">(reddit)</a></p>
                <p class="tagline ">submitted by {{ submission.author }}</p>
                <div class="expando">
                    <div class="usertext-body may-blank-within md-container ">
                        {% autoescape off %}{{ submission.selftext_html }}{% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="commentarea">
        {% include "reddit/nested_comments.html" %}
    </div>



{% else %}
No submission found
{% endif %}

</div> <!-- .content -->
{% endblock %}
