{% extends "reddit/base.html" %}

{% load fix_urls %}

{% block title %}{{ subreddit }}{% endblock %}
{% block content %}
<div class="content">
{% if submissions %}
    <div>
        {% for s in submissions %}
            <div id="{{ s.id }}" class="thing link">
                <p class="parent"></p>
                <span class="rank">{{ forloop.counter }}</span>
                <div class="midcol unvoted">
                    <div class="arrow">&nbsp;</div>
                    <div class="score">{{ s.score }}</div>
                    <div class="arrow">&nbsp;</div>
                </div>
                <div class="entry unvoted">
                    <p class="title">
                        <a class="title may-blank" href="{{ s.url|fixURL }}" tabindex="1" rel="">{{ s.title }}</a>
                        <span class="domain"> ({{ s.domain }}) </span>
                    </p>
                    <p class="tagline">
                        submitted {{ s.created_utc|age }} by {{ s.author }}
                    </p>
                    <ul class="flat-list buttons">
                        <li class="first">
                            <a href="{{ s.permalink|fixURL }}" class="bylink comments may-blank" rel="nofollow">{{ s.num_comments}} comments</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>



{% else %}
No submissions found
{% endif %}

</div> <!-- .content -->
{% endblock %}
